/* Stick footer to the page bottom */
html, body {
    height: 100%;
}
.wrapper-outer {
    min-height: 100%;
    margin-bottom: -60px;
}
.wrapper-inner {
    padding-bottom: 60px;
}
.footer-static-bottom {
    height: 60px;
    background-color: #f8f8f8;
    border-top: 1px solid #e7e7e7;
}

.copyright {
    padding-top: 20px;
}