@media (min-width: 992px) {
    .text-content {
        width: 80%;
    }
}
@media (max-width: 992px) {
    .text-content {
        width: 90%;
    }
}

.text-content {
    margin: auto;
}
.article {
    margin-bottom: 30px;
}
.content {
    padding-bottom: 40px;
}
/* special tag for keyword */
.dictionary k {
    font-weight: bold;
}
