{% extends 'main_layout.twig' %}

{% block extra %}
  <link rel="stylesheet" href="/css/login_page.css">
{% endblock extra %}

{% block content %}
<div class="login-page-content">
  <form action="/login" name="loginForm" method="POST" class="form-horizontal">
    
    <div class="form-group">
      <label for="email" class="col-xs-3 control-label">Эл.почта: </label>
      <div class="col-xs-9 col-md-6">
        <input type="email" name="loginForm[email]" id="email"
               class="form-control" placeholder="эл.почта"
               value="{{ loginForm.email }}">
      </div>
    </div>

    <div class="form-group">
      <label for="password" class="col-xs-3 control-label">Пароль: </label>
      <div class="col-xs-9 col-md-6">
        <input type="password" name="loginForm[password]" id="password"
               class="form-control" placeholder="пароль">
      </div>
    </div>

    <div class="form-group">
      <div class="col-xs-offset-3 col-xs-9 col-md-6">
        <div class="checkbox">
          <label>
            <input type="checkbox" name="loginForm[remember]"
                   {% if loginForm.remember %}checked{% endif %}> Запомнить меня
          </label>
          <button type="submit" class="btn btn-danger pull-right">Войти</button>
        </div>
      </div>
    </div>

    {% if loginForm.errorMessage %}
      <div class="col-xs-offset-3 col-xs-9 col-md-6">
        <div class="panel panel-danger login-error">
          <div class="panel-heading">Ошибка:</div>
          <div class="panel-body">{{ loginForm.errorMessage }}</div>
        </div>
      </div>
    {% endif %}

  </form>
</div>
{% endblock content %}
