{% extends 'main_layout.twig' %}

{% block extra %}
    <link rel="stylesheet" href="/css/main_page.css">
{% endblock extra %}

{% block content %}
<div class="main-page-content text-center">
  <h1>Memtext помогает учиться</h1>
  <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore omnis repellat debitis nihil, rerum numquam voluptatem repellendus pariatur perferendis voluptatum.</p>
  <a href="/register"
     class="register-button btn btn-danger btn-lg">Зарегистрироваться</a>
</div>
{% endblock content %}
