{% extends 'main_layout.twig' %}

{% block extra %}
  <link rel="stylesheet" href="/css/new_text.css">
  <script src="/ckeditor/ckeditor.js"></script>
{% endblock extra %}

{% block content %}
  <h1><small>Загрузить новый текст</small></h1>

  <form action="" method="POST" name="textForm">
    <input type="text" name="textForm[title]" placeholder="заголовок..."
           class="form-control text-upload-title">
    <textarea name="textForm[content]" class="form-control text-upload-input"
              rows="10" placeholder="скопируйте сюда текст..." id="ckeditor"
              maxlength="65000" value="{{ textForm.content }}"></textarea>
    <button type="submit"
            class="btn btn-danger text-upload-button">Загрузить</button>
    {% if textForm.errorMessage %}
      <div class="panel panel-danger text-form-error">
        <div class="panel-heading">Ошибка:</div>
        <div class="panel-body">{{ textForm.errorMessage }}</div>
      </div>
    {% endif %}
  </form>

  <script>
    CKEDITOR.replace(
      'ckeditor',
      { 
        language: 'ru',
        toolbar :
        [
          { name: 'clipboard', items : [ 'Cut','Copy','Paste','PasteText','-','Undo','Redo' ] },
          { name: 'basicstyles', items : [ 'Bold','Italic','Underline','Strike','-','RemoveFormat' ] },
          { name: 'styles', items : [ 'Styles','Format','Font','FontSize' ] },
          { name: 'document', items : [ 'Source','-','Save','NewPage','DocProps','Preview','Print','-','Templates' ] }
        ]
      }
    );
  </script>
{% endblock content %}
