<div class="user-profile clearfix">

  <h1>Ваши тексты</h1>

  {% if userTexts is not empty %}

    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Заголовок</th>
          <th><span class="pull-right">Смотреть/удалить</span></th>
        </tr>
      </thead>
      
      <tbody>
        {% for text in userTexts %}
          <tr>
            <td>{{ loop.index }}</td>
            <td class="user-text">{{ text.title|truncate(100) }}</td>
            <td>
              <form action="/text/delete/{{ text.id }}" method="POST" name="deleteForm">
                <button class="pull-right btn btn-link btn-xs" type="submit"><!--
                  --><span class="glyphicon glyphicon-remove text-crud"></span><!--
                --></button>
              </form>
              <a href="/text/view/{{ text.id }}" class="pull-right"><!--
                --><span class="glyphicon glyphicon-eye-open text-crud"></span><!--
              --></a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    {% include 'text_widget_pager.twig' %}

  {% else %}
    <p class="bg-info message-not-found">У вас пока нет ни одного текста.</p>
  {% endif %}
  <a href="/text/new" class="btn btn-danger">Создать новый</a>
</div>
