{% extends 'main_layout.twig' %}

{% block extra %}
  <link rel="stylesheet" href="/css/view_dict.css">
  <script defer src="/js/dict-update-form.js"></script>
{% endblock extra %}

{% block content %}
  <div class="dictionary-content row">
    <a href="/text/view/{{ text.id }}">Назад к тексту</a>
    <h1>Словарь</h1>
    {% if text.dictionary is not empty %}
      <table class="table dictionary-table">
        <thead class="lead bg-info">
          <tr>
            <th class="col-xs-5">английский</th>
            <th class="col-xs-6">русский</th>
            <th class="col-xs-1">игнорировать</th>
          </tr>
        </thead>
        <tbody>
          {% for row in text.dictionary %}
            {% if row.ignore == false %}
              <tr>
                <td><strong>{{ row.eng }}</strong></td>
                <td><em>{{ row.rus }}</em></td>
                <td>
                  {% if loginManager.isLogged() %}
                  <button class="pull-right btn btn-link btn-xs delete-button"
                    type="button"><!--
                    --><span class="glyphicon glyphicon-remove"></span><!--
                  --></button>
                  {% endif %}
                </td>
              </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
      {% if loginManager.isLogged() %}
        <form action="/dict/update/{{ text.id }}" method="POST" name="dictUpdate">
          <input type="hidden" name="dictUpdate[fields]" id="removeFields"
            value="{{ {}|json_encode() }}">
          <button type="submit"
            class="btn btn-success btn-lg btn-block" id="saveButton">Сохранить</button>
        </form>
      {% endif %}
    {% else %}
      <p class="alert alert-info message-not-found">
        Слов к тексту не найдено. Попробуйте обновить словарь.
      </p>
    {% endif %}
  </div>
{% endblock content %}
