{% extends 'main_layout.twig' %}

{% block extra %}
  <link rel="stylesheet" href="/css/view_dict.css">
  <script defer src="/js/dict-update-form.js"></script>
{% endblock extra %}

{% block content %}
  <div class="dictionary-content row">
    <a href="/text/view/{{ textId }}">Назад к тексту</a>
    <h1>Словарь</h1>
    {% if dictionary is not empty %}
      <table class="table dictionary-table">
        <thead class="lead bg-info">
          <tr>
            <th class="col-xs-5">англ.</th>
            <th class="col-xs-6">рус.</th>
            <th class="col-xs-1"></th>
          </tr>
        </thead>
        <tbody>
          {% for eng, rus in dictionary %}
            <tr>
              <td><strong>{{ eng }}</strong></td>
              <td><em>{{ rus }}</em></td>
              <td>
                {% if loginManager.isLogged() %}
                <button class="pull-right btn btn-link btn-xs delete-button"
                  type="button"><!--
                  --><span class="glyphicon glyphicon-remove"></span><!--
                --></button>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {% if loginManager.isLogged() %}
        <form action="/dict/update/{{ textId }}" method="POST" name="dictUpdate">
          <input type="hidden" name="dictUpdate[fields]" id="removeFields"
            value="{{ {}|json_encode() }}">
          <button type="submit"
            class="btn btn-success btn-lg btn-block" id="saveButton">Сохранить</button>
        </form>
      {% endif %}
    {% else %}
      <p class="alert alert-info message-not-found">
        Слов к тексту не найдено. Попробуйте обновить словарь.
      </p>
    {% endif %}
  </div>
{% endblock content %}
